<% provide(:title, "トップページ | 第6回RUNTEQ祭")%>

<div class="container mx-auto px-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 p-4">
    <% 30.times do %>
      <div class="card bg-base-100 w-96 shadow-sm">
        <figure>
          <img
            src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
            alt="Shoes" />
        </figure>
        <div class="card-body bg-white">
          <div class="text-center font-bold p-2">
            <h2 class="card-title">アプリ名</h2>
            <h2 class="card-title">開発者</h2>
          </div>
          <div class="card-actions justify-end text-center mb-4">
            <button class="btn btn-primary border border-gray-500 p-2">サービス</button>
            <button class="btn btn-primary border border-gray-500 p-2">詳細ページ</button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>