<div class="bg-blue-200 flex flex-row justify-between space-x-4 p-4">
  <%= link_to "第6回RUNTEQ祭アプリ", root_path, class:"text-5xl font-bold p-4" %>
  <div class="flex flex-row space-x-4 items-center">
    <%= link_to "アプリ応募フォーム",
                "https://docs.google.com/forms/d/e/1FAIpQLSeO1CUqvfab4Bm0G0kNrILGT8jSos6xRepqN6-kwbu1Tb2MFQ/viewform?usp=dialog",
                 class: "border border-white rounded p-4 m-4 bg-blue-500 text-white",
                 target: :blank %>
    
    <!-- 投票開始になったらコメントアウト外す
    <%= link_to "投票フォーム",
                "https://docs.google.com/forms/d/e/1FAIpQLSenWgyzuPZX6oaQtPZiMW7oQaDxUIyttbRrfYQPUWGM6LhJlQ/viewform?usp=dialog",
                class: "border border-white rounded p-4 m-4 bg-gray-300 text-white",
                target: :blank %>
    -->

    <!-- 投票開始になったらコメントアウトする -->
    <div class="border border-white rounded p-4 m-4 bg-gray-300 text-white">投票フォーム</div>

    <%= link_to "運営メンバー紹介",
                "https://docs.google.com/forms/d/e/1FAIpQLSenWgyzuPZX6oaQtPZiMW7oQaDxUIyttbRrfYQPUWGM6LhJlQ/viewform?usp=dialog",
                class: "border border-white rounded p-4 m-4 bg-blue-500 text-white",
                target: :blank %>
    <div class="flex justify-center bg-blue-200">
      <div class="border border-white p-4 m-4 rounded">アプリ検索窓</div>
    </div>
  </div>
</div>