<div class="text-5xl font-bold p-4 text-center bg-blue-200">第6回RUNTEQ祭応募アプリ一覧</div>
<div class="bg-blue-200 flex flex-row justify-center items-center space-x-4 p-4">
  <%= link_to "アプリ応募フォーム","https://docs.google.com/forms/d/e/1FAIpQLSeO1CUqvfab4Bm0G0kNrILGT8jSos6xRepqN6-kwbu1Tb2MFQ/viewform?usp=dialog", class: "border border-white rounded p-2 bg-blue-500 text-white", target: :blank %>
  <%= link_to "投票フォーム","https://docs.google.com/forms/d/e/1FAIpQLSenWgyzuPZX6oaQtPZiMW7oQaDxUIyttbRrfYQPUWGM6LhJlQ/viewform?usp=dialog",class: "border border-white rounded p-2 bg-blue-500 text-white", target: :blank %>
  <div>運営メンバー紹介</div>
  <%= link_to "前回の応募アプリ一覧","https://runteq-fes-vol5.vercel.app/app?type=all",class: "border border-white rounded p-2 bg-blue-500 text-white", target: :blank %>
</div>